.hero-card {
  max-width: 400px;
  margin: 50px auto 0 auto;
}

.spiderman-avatar {
  background-image: url("https://png.pngitem.com/pimgs/s/346-3468375_spiderman-mcu-ps4-selfie-hd-png-download.png");
  background-size: cover;
}
