html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Scaffolding
.container-width-full {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.example-spacer {
  flex: 1 1 auto;
}
