<div class="container-width-full">
  <table
    mat-table
    matSort
    [dataSource]="heroes"
    *ngIf="heroes; else loadingHeroes"
  >
    <ng-container matColumnDef="ranking">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ranking</th>
      <td mat-cell *matCellDef="let hero">{{ hero.ranking }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Hero</th>
      <td mat-cell *matCellDef="let hero">
        <a [routerLink]="['/heroes', hero._id]">
          {{ hero.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="specialty">
      <th mat-header-cell *matHeaderCellDef>Specialty</th>
      <td mat-cell *matCellDef="let hero">{{ hero.specialty }}</td>
    </ng-container>

    <ng-container matColumnDef="rent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rent</th>
      <td mat-cell *matCellDef="let hero">{{ hero.rent | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-header-row
      *matRowDef="let myRowData; columns: columnsToDisplay"
    ></tr>
  </table>

  <ng-template #loadingHeroes>
    <div>Assembling heroes...</div>
  </ng-template>
</div>
