<mat-toolbar class="nav-tabs" color="primary">
  <!-- <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button> -->
  <a mat-button routerLink="/">{{ title }}</a>
  <div *ngFor="let link of links">
    <a
      mat-button
      [routerLink]="link.path"
      routerLinkActive="router-link-active"
      >{{ link.title }}</a
    >
  </div>
  <span class="example-spacer"></span>
  <a *ngIf="isAuth" mat-button id="logout" (click)="logout($event)">Logout</a>
  <a *ngIf="!isAuth" mat-button id="login" routerLink="/">Sign In</a>
</mat-toolbar>
